.custom-popup .leaflet-popup-content-wrapper {
	background: transparent;
	box-shadow: none;
	padding: 0;
	border-radius: 28px;
}

.custom-popup .leaflet-popup-content {
	margin: 0;
	/* biome-ignore lint/complexity/noImportantStyles: <false> */
	width: auto !important;
}

.custom-popup .leaflet-popup-tip-container {
	display: none;
}

.custom-popup .leaflet-popup-tip {
	background: white;
}

.leaflet-popup-content p {
	margin: 0;
}
