@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  --color-primary: #DD198E;
}

@layer base {
  @font-face {
    font-family: "DMSans";
    src: url("./assets/fonts/DMSans-VariableFont_opsz,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
  }

  @font-face {
    font-family: "DMSans";
    src: url("./assets/fonts/DMSans-Italic-VariableFont_opsz,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: italic;
  }

  @font-face {
    font-family: "Epilogue";
    src: url("./assets/fonts/Epilogue-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
  }

  @font-face {
    font-family: "Epilogue";
    src: url("./assets/fonts/Epilogue-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: italic;
  }

  html,
  body {
    background-color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "DMSans";
    color: black;
  }

  #root {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .font-epilogue {
    font-family: "Epilogue", sans-serif;
  }

  button {
    cursor: pointer;
  }
}