@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  --color-primary: #DD198E;
  --color-gray-900: #181D27;
  --color-gray-700: #414651;
  --color-gray-600: #535862;
  --color-gray-500: #717680;
  --color-error: #af2840;
  --color-warning: #e6a700;
  --color-on-success-container: #d8fdde;
  --color-success-subtle: #106b3e;
  --color-success-border: #cdeed3;
  --color-alert-container: #fdf3d8;
  --color-on-alert-container: #392d09;
  --color-alert: #f7c122;
  --color-toast-error: #fdd8d8;
  --color-toast-warning: #fdecd8;
  --color-error-border: #f5c6cb;
  --color-warning-border: #ffeeba;
}

@layer base {
  @font-face {
    font-family: "DMSans";
    src: url("./assets/fonts/DMSans-VariableFont_opsz,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
  }

  @font-face {
    font-family: "DMSans";
    src: url("./assets/fonts/DMSans-Italic-VariableFont_opsz,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: italic;
  }

  @font-face {
    font-family: "Epilogue";
    src: url("./assets/fonts/Epilogue-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
  }

  @font-face {
    font-family: "Epilogue";
    src: url("./assets/fonts/Epilogue-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: italic;
  }

  html,
  body {
    background-color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "DMSans";
    color: black;
    scroll-behavior: smooth;
  }

  #root {
    height: 100%;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
  }

  .font-epilogue {
    font-family: "Epilogue", sans-serif;
  }

  button {
    cursor: pointer;
  }
}