@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
    --color-primary: #dd198e;
    --color-gray-900: #181d27;
    --color-gray-700: #414651;
    --color-gray-600: #535862;
    --color-gray-500: #717680;
    --color-gray-200: #E9EAEB;
    --color-error: #af2840;
    --color-warning: #e6a700;
    --color-on-success-container: #d8fdde;
    --color-success-subtle: #106b3e;
    --color-success-border: #cdeed3;
    --color-alert-container: #fdf3d8;
    --color-on-alert-container: #392d09;
    --color-alert: #f7c122;
    --color-toast-error: #fdd8d8;
    --color-toast-warning: #fdecd8;
    --color-error-border: #f5c6cb;
    --color-warning-border: #ffeeba;
}

@layer base {
    @font-face {
        font-family: "DMSans";
        src: url("./assets/fonts/DMSans-VariableFont_opsz,wght.ttf")
            format("truetype");
        font-weight: 100 900;
        font-style: normal;
    }

    @font-face {
        font-family: "DMSans";
        src: url("./assets/fonts/DMSans-Italic-VariableFont_opsz,wght.ttf")
            format("truetype");
        font-weight: 100 900;
        font-style: italic;
    }

    @font-face {
        font-family: "Epilogue";
        src: url("./assets/fonts/Epilogue-VariableFont_wght.ttf")
            format("truetype");
        font-weight: 100 900;
        font-style: normal;
    }

    @font-face {
        font-family: "Epilogue";
        src: url("./assets/fonts/Epilogue-Italic-VariableFont_wght.ttf")
            format("truetype");
        font-weight: 100 900;
        font-style: italic;
    }

    html,
    body {
        background-color: white;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        font-family: "DMSans";
        color: black;
        scroll-behavior: smooth;
    }

    #root {
        height: 100%;
        display: flex;
        flex-direction: column;
        scroll-behavior: smooth;
    }

    .font-epilogue {
        font-family: "Epilogue", sans-serif;
    }

    button {
        cursor: pointer;
    }
}

:root {
    --sidebar: hsl(0 0% 98%);
    --sidebar-foreground: hsl(240 5.3% 26.1%);
    --sidebar-primary: hsl(240 5.9% 10%);
    --sidebar-primary-foreground: hsl(0 0% 98%);
    --sidebar-accent: hsl(240 4.8% 95.9%);
    --sidebar-accent-foreground: hsl(240 5.9% 10%);
    --sidebar-border: hsl(220 13% 91%);
    --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {
    --sidebar: hsl(240 5.9% 10%);
    --sidebar-foreground: hsl(240 4.8% 95.9%);
    --sidebar-primary: hsl(224.3 76.3% 48%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(240 3.7% 15.9%);
    --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
    --sidebar-border: hsl(240 3.7% 15.9%);
    --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme inline {
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
    /** {
        @apply border-border outline-ring/50;
    }*/
    /*body {
        @apply bg-background text-foreground;
    }*/
}
